services:
  node:
    container_name: inventoryApp
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - 3000:3000
      - 8000:8000
    volumes:
      - ./:/app/
      - /app/node_modules
    command: pnpm run dev
